body {
  background: var(--clr-bg);
}

a {
&:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 1px;
  border-radius: var(--radius-3px);
}
&:active {
  color: var(--clr-primary);
}
}

@media (hover:hover) {
  a:hover {
    color: var(--clr-primary);
}
}

.photo-page-title-container {
  margin-top: var(--space-32-48px);
  width: min(100%, 1536px);
  padding-inline: var(--space-12-16px);
  font-size: var(--fontsize-h4);
  margin-inline: auto;
  h1 {
    font-size: var(--fontsize-h4);
    margin-bottom: var(--space-24-32px);
    @media (max-width: 440px) {
      text-align: center;
    }
  }
}
