---
import Layout from '../layouts/Layout.astro';
import GalleryGrid from '../components/GalleryGrid.astro';
import Lightbox from '../components/Lightbox.astro';
import { getCollection } from 'astro:content';

const products = await getCollection('products', ({ data }) => {
  return data.category === 'nature';
});

products.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const images = products.map(({ data }) => ({
  image: data.image,
  alt: data.alt,
  title: data.title,
}));
---

<Layout title="Nature Photography">
  <div class="photo-page-title-container">
  <h1 class="photo-page-title">Nature</h1>
  </div>
  <GalleryGrid images={images} pattern="2-3" />
  <Lightbox />
</Layout>