---
import Layout from '../layouts/Layout.astro';
import GalleryGrid from '../components/GalleryGrid.astro';
import ProductLightbox from '../islands/ProductLightbox.svelte';
import { getCollection } from 'astro:content';

const products = await getCollection('products', ({ data }) => {
  return data.category === 'industrial';
});

products.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const galleryProducts = products.map(({ data }) => ({
  image: data.image,
  alt: data.alt,
  title: data.title,
  slug: data.slug,
  aspectRatio: data.aspectRatio,
}));
---

<Layout title="Industrial Photography">
  <div class="photo-page-title-container">
  <h1 class="photo-page-title">Industrial</h1>
  </div>
  <GalleryGrid products={galleryProducts} pattern="3-2" />
  <ProductLightbox client:load />
</Layout>