<header>
  <div class="header-top">
    <div class="nav-social">
      <a
        class="social-list-item"
        href="https://www.instagram.com/monochromephotographyuk/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram page"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
          ></path>
        </svg></a
      >
      <a
        class="social-list-item"
        href="https://www.linkedin.com/in/braticius/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn page"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
          ></path>
        </svg></a
      >
      <a
        class="social-list-item"
        href="https://www.facebook.com/profile.php?id=100010348081641"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook page"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"
          ></path>
        </svg></a
      >
    </div>
    <a href="index.html" aria-label="Home"
      ><h1>Monochrome Photography</h1></a
    >
    <nav class="nav-info-wrapper">
      <a href="#" class="nav-info">
        <svg
          class="chevron"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <path
            stroke="var(--clr-white)"
            stroke-width="1"
            fill="none"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
        <h5>INFO</h5>
      </a>
      <ul class="dropdown-menu">
        <li><a href="about.html">about</a></li>
        <li><a href="information.html">order</a></li>
        <li><a href="in-situ.html">in&thinsp;situ</a></li>
      </ul>
    </nav>
  </div>
  <h2>by multi-award winner J.G. Braticius</h2>

  <div class="photo-categories">
    <a href="photography-urban.html" aria-label="Urban photography gallery"
      ><h5>urban</h5></a
    >
    <a
      href="photography-industrial.html"
      aria-label="Industrial photography gallery"><h5>industrial</h5></a
    >
    <a
      href="photography-memorial.html"
      aria-label="Memorial photography gallery"><h5>monuments</h5></a
    >
    <a href="photography-nature.html" aria-label="Nature photography gallery"
      ><h5>nature</h5></a
    >
  </div>
</header>

<style>
  header {
    width: min(100%, 1536px);
    margin-inline: auto;
    padding-block-start: var(--space-16-24px);
    padding-block-end: var(--space-8px);
    padding-inline: var(--space-12-16px);
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-social {
    display: flex;
    gap: var(--space-8-12px);
    fill: var(--clr-white);
  }

  h1 {
    font-size: var(--fontsize-h4);
  }

  .nav-info-wrapper {
    position: relative;
  }

  .nav-info {
    display: flex;
    align-items: center;
    gap: var(--space-4-8px);
    fill: var(--clr-white);
  }

  .nav-info svg {
    transition: var(--transition-2);
  }

  .nav-info-wrapper:hover .nav-info svg {
    transform: rotate(180deg) translateY(1px);
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    visibility: hidden;
    background-color: var(--clr-bg);
  }

  .nav-info-wrapper:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu li a {
    display: block;
    padding: var(--space-4-8px) var(--space-8px);
    text-align: right;
    white-space: nowrap;
    font-family: 'Cormorant SC Medium';
    font-size: var(--fontsize-h5);
    color: var(--clr-white);
    &:hover {
      color: var(--clr-primary);
    }
  }

  h2 {
    font-size: var(--fontsize-h6);
    justify-self: center;
  }

  .photo-categories {
    display: flex;
    gap: var(--space-16-24px);
    justify-self: center;
    margin-top: var(--space-8-12px);
  }

  @media only screen and (max-width: 400px) {
    .photo-categories h5 {
      font-size: var(--fontsize-body);
    }
  }

  @media only screen and (max-width: 784px) {
    .header-top {
      justify-content: center;
    }

    .nav-social,
    .nav-info {
      display: none;
    }

    /* Gradient bg for mobile to make nav more legible */
    header {
      background-image: linear-gradient(
        to bottom,
        hsla(174, 8%, 11%, 0.2) 0%,
        hsla(174, 8%, 11%, 0.16) 90%,
        hsla(174, 8%, 11%, 0.12) 92%,
        hsla(174, 8%, 11%, 0.08) 94%,
        hsla(174, 8%, 11%, 0.04) 96%,
        hsla(174, 8%, 11%, 0.02) 98%,
        hsla(174, 8%, 11%, 0) 100%
      );
    }
  }
</style>
